<!DOCTYPE html>

{% load static %} <!--Corresponde a la carga de archivos static en la pagina-->

<html lang="en"> <!--Corresponde al lenguaje (ingles)-->

<head>
    <meta charset="UTF-8"> <!--Corresponde a los caracteres especiales-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Corresponde al rrsponsive de la pagina  escala al 1-->
    <title>Iniciar Sesión</title> <!--El titulo-->
    <link rel="stylesheet" href="{% static 'inicio_sesion.css' %}"><!--Corresponde a la ubicacion de los estilos en CSS-->
    <meta name = "despcription" content="Este es la pagina de inicio de sesion"> <!--Corresponde a  la descripcion de la pagina-->
    <meta name="keywords" content="pokemon, juegos, caricaturas, monstruos, inciar sesion"><!--Corresponde a identificacion en busqueda con palabras especiales-->
    <meta name="author" content="Jose Manuel Murillo Sánchez"><!--Corresponde al creador de la pagina web-->
</head>

<body>
    
<!--  *********************************************************** -->
<!--  *  Corresponde al encabezado de la pagina                 * -->
<!--  *********************************************************** -->
    <div class="header">
    </div>



    <!--  *********************************************************** -->
    <!--  *  Corresponde al contenedor de la pagina                 * -->
    <!--  *********************************************************** -->
    <div class="container">
        <h2>Iniciar Sesión</h2>
        


        <!--  *********************************************************** -->
        <!--  *  Corresponde al formulario dentro del contenedor        * -->
        <!--  *********************************************************** -->

        <!-- El formulario tiene una solicitud de tipo POST -->
        <form method="post"> 

            <!-- protege tus formularios contra ataques maliciosos. -->
            {% csrf_token %}

            <!-- MUestra una etiqueta para el nombre de usuario -->
            {{ form.username.label_tag }}

            <!-- Muestra el campo para ingresar el nombre de ususario -->
            {{ form.username }}
            <br>
            <!-- Muestra una etiqueta para el campo de la contraseña -->
            {{ form.password.label_tag }}

            <!-- Muestra el campo para el ingreso de la contraseña. -->
            {{ form.password }}
            <br>

            <!-- Boton para enviar el formulario. -->
            <button type="submit">Iniciar Sesión</button>
        </form>

        
        <!-- Enlace que redirige a los usuarios que no tienen cuenta a otro formulario de registro. -->
        <p>No tienes una cuenta? <a href="{% url 'registro_usuario' %}">Regístrate aquí</a></p>
    </div>



    <!--  ************************************************************** -->
    <!--  *  Corresponde al pie de pagina de la pagina                 * -->
    <!--  ************************************************************** -->
    <div class="footer">
    </div>

</body>

</html>
